.mt-1 {
  margin-top: 0.5rem !important;
}
.mt-2 {
  margin-top: 0.7rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-5 {
  margin-top: 2rem !important;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}
